<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="buttonColor" (click)="back();"><span>Washington State Department of Social and Health Services</span></button>
  
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
      
    <mat-icon> phone</mat-icon>
    <span class='material-icons-outlined'>&nbsp; 1(984)116-6699 &nbsp;&nbsp;&nbsp;&nbsp;</span> 
    <mat-icon>g_translate</mat-icon>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <section>
      <div class="example-button-row">
        <button mat-raised-button>LOGIN</button>
      </div>
    </section>
  </mat-toolbar-row>
</mat-toolbar>

  <mat-toolbar color="Login">
    <mat-toolbar-row>
    
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
        
      <span class='material-icons-outlined'>Login to Your Account</span> 

      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="password === ''" (click)="onSubmit();">Login</button>
      </form>
    </mat-card-content>
    <div class="card-body">
    <div class="card-container"></div>
    <div class="card-container"></div>
    <div class="card-container"></div>
    <div class="card-container"></div>
    <div>
      <button mat-button ng-click="forgotUsername()">ForgotUserName?</button>
      <button mat-button ng-click="forgotUsername()">ForgotPassword?</button>
    </div>

    <div>
      <span>Don’t have an account?<button mat-button ng-click="forgotUsername()">Create an Account Here</button></span>
    </div>
     
    </div>
  </mat-card>
  
  <mat-toolbar color="primary">
    <mat-toolbar-row>
  
      <div class="sealImage"></div>
      
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
  
    
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
  
      <span>Need Assistance?&nbsp;</span>
      <mat-icon> phone</mat-icon>
      <span class='material-icons-outlined'>   &nbsp;  Call us @ +1(984)116-6699</span> 
      <span class="example-spacer"></span>
      
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
  
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
  
      
      <button md-raised-button class="md-raised md-primary" (click)="onEdit()"><mat-icon> publish</mat-icon>Back To Top</button>
  
    </mat-toolbar-row>
  </mat-toolbar>